@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700;800&family=Roboto:wght@300;400;500;700;900&display=swap");

// SASS Colors Variables

$color-dark: #000103;
$color-white: #fff;
$color-india-green: #008900;
$color-grey: #32303b;
$color-independence: #4c4b63;
$color-spanish-gray: #949396;
$color-body: #d1d1d1;

// Global Styles

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Roboto", "Playfair Display", sans-serif, serif;
  font-size: 0.9em;
  background-color: $color-body;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

input,
textarea,
select {
  padding: 0.6em;
  outline: none;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.centered {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
}

.container {
  width: 65%;
  max-width: 1400px;
  margin: 0 auto;
}

/**** Header Section Styles ****/

#header-section {
  background-color: $color-dark;

  // Navbar Styles

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0;

    &__logo {
      width: 20%;

      .logo {
        color: $color-white;
        font-size: 2rem;
        font-weight: 500;
      }
    }

    &__links {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 50%;

      .navbar__link {
        color: $color-white;
        font-weight: 300;
        transition: color 0.3s ease-in-out;

        &--reservation {
          color: $color-white;
          background-color: $color-dark;
          padding: 0.6rem 1.2rem;
          border: 1px solid $color-white;
          border-radius: 50px;
          transition: all 0.3s ease-in-out;

          &:hover {
            color: $color-dark;
            background-color: $color-white;
          }
        }
      }
    }
  }
}

/**** Jumbo Section Styles ****/

#jumbo-section {
  padding: 10em 0;
  background: $color-dark;

  .jumbo-hero__text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $color-white;
    position: relative;
    top: 100px;

    // Jumbo Message Container

    .jumbo-hero__message-container {
      display: block;
      width: 50%;

      .jumbo-hero__title {
        font-family: "Playfair Display", sans-serif;
        font-size: 3.5rem;
        font-weight: 600;
        word-break: break-word;
        line-height: 1.5em;
        margin-bottom: 0.5em;
      }

      .jumbo-hero__message {
        font-size: 1rem;
        font-weight: 300;
        word-break: break-word;
        margin-bottom: 3em;
      }

      .jumbo-hero__text-btn {
        color: $color-white;
        background-color: $color-dark;
        padding: 0.6rem 1.2rem;
        border: 1px solid $color-white;
        border-radius: 50px;
        transition: all 0.3s ease-in-out;
        outline: none;

        &:hover {
          color: $color-dark;
          background-color: $color-white;
        }
      }
    }

    // Jumbo Image

    .jumbo-hero__img {
      height: 550px;
      width: 50%;
    }
  }
}

/**** About Section Styles ****/

#about-section {
  padding: 10em 0;
  color: $color-white;
  background-color: $color-dark;

  .about-section__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    // About Image Styles

    .about-section__img {
      width: 50%;
      height: 500px;
      position: absolute;
      left: 0;
    }

    // About Text Styles

    .about-section__text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 50%;
      margin-right: 10em;
      border-radius: 10px;
      position: absolute;
      right: 0;
      height: 400px;
      background-color: $color-dark;

      .about-section__text-title {
        font-family: "Playfair Display", sans-serif;
        font-size: 3.5rem;
        word-break: break-word;
        margin: 0 0 0.8em 4rem;
      }

      .about-section__text-info {
        margin-left: 4em;
        line-height: 1.6rem;
      }
    }
  }
}

/**** Ingredient Section Styles ****/

#ingredient-section {
  display: flex;
  align-items: center;
  color: $color-white;
  background-color: $color-dark;
  height: 800px;

  .ingredient-section__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    // Ingredient Text

    .ingredient-section__text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 50%;
      border-radius: 10px;
      position: absolute;
      left: 0;
      height: 400px;
      margin-left: 10em;
      background-color: $color-dark;
      z-index: 10;

      .ingredient-section__title {
        font-family: "Playfair Display", sans-serif;
        font-size: 3.5rem;
        word-break: break-word;
        margin: 0 0.3rem 0.8em 0;
      }

      .ingredient-section__info {
        line-height: 1.6rem;
      }
    }

    // Ingredient Image

    .ingredient-section__img-container {
      width: 50%;
      position: absolute;
      right: 0;

      .ingredient-section__image {
        height: 500px;
      }
    }
  }
}

/**** Menu Section Styles ****/

#menu-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $color-white;
  background-color: $color-dark;
  height: 800px;

  // Menu Content Styles
  .menu-section__content {
    margin-top: 6em;

    // Menu Title Styles
    .menu-section__title {
      text-align: center;
      font-family: "Playfair Display", sans-serif;
      font-size: 3.5rem;
      word-break: break-word;
      margin: 0 0.3rem 0.8em 0;
    }

    // Menu Filter Styles
    .menu-section__filter {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 25%;
      margin-bottom: 5em;

      &--breakfast {
        color: $color-white;
        background-color: $color-dark;
        padding: 0.6rem 1.2rem;
        border: 1px solid $color-white;
        border-radius: 50px;
        transition: all 0.3s ease-in-out;
        outline: none;
        cursor: pointer;

        &:hover {
          color: $color-dark;
          background-color: $color-white;
        }
      }

      &--lunch {
        color: $color-white;
        background-color: $color-dark;
        padding: 0.6rem 1.2rem;
        border: 1px solid $color-white;
        border-radius: 50px;
        transition: all 0.3s ease-in-out;
        outline: none;
        cursor: pointer;

        &:hover {
          color: $color-dark;
          background-color: $color-white;
        }
      }

      &--dinner {
        color: $color-white;
        background-color: $color-dark;
        padding: 0.6rem 1.2rem;
        border: 1px solid $color-white;
        border-radius: 50px;
        transition: all 0.3s ease-in-out;
        outline: none;
        cursor: pointer;

        &:hover {
          color: $color-dark;
          background-color: $color-white;
        }
      }
    }

    // Menu Grid Container Styles
    .menu-section__menu-grid {
      position: relative;

      // Menu Breakfast Styles
      &__breakfast {
        display: flex;
        justify-content: space-between;
        position: absolute;
        z-index: 30;
        opacity: 1;

        .menu-section__menu-grid__item {
          color: $color-dark;
          background-color: $color-white;
          text-align: center;
          width: 22%;
          padding: 2em;
          border-radius: 10px;
          transition: all 0.4s ease-in-out;

          &__image {
            div {
              height: 200px;
              width: 200px;
            }
          }

          &__title {
            font-size: 1.5rem;
            margin: 1em 0;
          }

          &__info {
            line-height: 1.5rem;
          }
        }
      }

      // Menu Lunch Styles
      &__lunch {
        display: flex;
        justify-content: space-between;
        position: absolute;
        z-index: 20;
        opacity: 0;

        .menu-section__menu-grid__item {
          color: $color-dark;
          background-color: $color-white;
          text-align: center;
          width: 22%;
          padding: 2em;
          border-radius: 10px;
          transition: all 0.4s ease-in-out;

          &__image {
            div {
              height: 200px;
              width: 200px;
            }
          }

          &__title {
            font-size: 1.5rem;
            margin: 1em 0;
          }

          &__info {
            line-height: 1.5rem;
          }
        }
      }

      // Menu Dinner Styles
      &__dinner {
        display: flex;
        justify-content: space-between;
        position: absolute;
        z-index: 10;
        opacity: 0;

        .menu-section__menu-grid__item {
          color: $color-dark;
          background-color: $color-white;
          text-align: center;
          width: 22%;
          padding: 2em;
          border-radius: 10px;
          transition: all 0.4s ease-in-out;

          &__image {
            div {
              height: 200px;
              width: 200px;
            }
          }

          &__title {
            font-size: 1.5rem;
            margin: 1em 0;
          }

          &__info {
            line-height: 1.5rem;
          }
        }
      }
    }
  }
}

/**** Review Section Styles ****/

#review-section {
  color: $color-white;
  background-color: $color-dark;
  height: 800px;

  // Review Section Content Styles
  .review-section__content {
    padding-top: 10em;

    // Review Section Content Title Styles
    &__title {
      text-align: center;
      font-family: "Playfair Display", sans-serif;
      font-size: 3.5rem;
      word-break: break-word;
      margin: 0 0.3rem 2em 0;
    }

    // Review Section Content Grid Styles
    &__grid {
      display: flex;
      justify-content: space-between;
      align-items: center;

      // Review Section Content Container Styles
      &__container {
        display: flex;
        align-items: center;
        width: 60%;
        height: 300px;
        color: $color-dark;
        background-color: $color-white;
        border-radius: 10px;
        position: relative;

        .review-section__content__grid__item {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
          border-radius: 10px;
          padding: 1.5em;
          position: absolute;

          &__image {
            width: 100px;
            height: 100px;

            img {
              border-radius: 50%;
            }
          }

          &__name {
            font-size: 1.5rem;
            margin: 1em 0;
          }

          &__comment {
            line-height: 1.5rem;
          }
        }

        .review-section__content__grid__item--1 {
          transition: all 0.3s ease-in-out;
          z-index: 40;
          opacity: 1;
        }

        .review-section__content__grid__item--2 {
          transition: all 0.3s ease-in-out;
          z-index: 30;
          opacity: 0;
        }

        .review-section__content__grid__item--3 {
          transition: all 0.3s ease-in-out;
          z-index: 20;
          opacity: 0;
        }

        .review-section__content__grid__item--4 {
          transition: all 0.3s ease-in-out;
          z-index: 10;
          opacity: 0;
        }
      }

      // Review Section Content Left Button Styles
      &__button-left {
        display: flex;
        justify-content: flex-end;
        width: 10%;

        &__icon {
          width: 45px;
          height: 45px;
          padding: 0.6rem 1rem;
          border: 1px solid $color-white;
          border-radius: 50%;
          transition: all 0.3s ease-in-out;
          outline: none;
          cursor: pointer;

          &:hover {
            color: $color-dark;
            border: 1px solid $color-dark;
            background-color: $color-white;
          }
        }
      }

      // Review Section Content Right Button Styles
      &__button-right {
        display: flex;
        justify-content: flex-start;
        width: 10%;

        &__icon {
          width: 45px;
          height: 45px;
          padding: 0.6rem 1rem;
          border: 1px solid $color-white;
          border-radius: 50%;
          transition: all 0.3s ease-in-out;
          outline: none;
          cursor: pointer;

          &:hover {
            color: $color-dark;
            border: 1px solid $color-dark;
            background-color: $color-white;
          }
        }
      }
    }
  }
}

/**** Reservation Section Styles ****/

#reservation-section {
  height: 1200px;
  color: $color-white;
  background-color: $color-dark;

  // Reservation Section Content Styles
  .reservation-section__content {
    padding-top: 7em;

    // Reservation Section Content Title Styles
    &__title {
      text-align: center;
      font-family: "Playfair Display", sans-serif;
      font-size: 3.5rem;
      word-break: break-word;
      margin: 0 0.3rem 2em 0;
    }

    // Reservation Section Content Grid Styles
    &__grid {
      display: flex;
      align-items: center;
      width: 100%;
      height: 800px;
      position: relative;

      // Reservation Section Content Grid Container Styles
      &__form-container {
        width: 50%;
        position: absolute;
        right: 0;
        margin-right: 10em;
        z-index: 10;
        background-color: $color-dark;
        border-radius: 10px;

        .reservation-section__content__grid__form {
          padding: 5em 2em;

          // Global Label Styles
          label {
            margin-bottom: 1em;
          }

          // Global Input, Textarea Styles
          input,
          textarea,
          select {
            background-color: transparent;
            border: none;
            border-bottom: 1px solid $color-white;
            outline: none;
            transition: all 0.4s ease-in-out;

            &:focus {
              background-color: $color-white;
            }

            &:active {
              background-color: $color-white;
            }
          }

          // Reservation Section Content Grid Container First and Last Name Styles
          &__first-last-name {
            display: flex;
            align-items: center;
            margin-bottom: 3em;

            .reservation-section__content__grid__form__first-name {
              display: flex;
              flex-direction: column;
              width: 50%;
            }

            .reservation-section__content__grid__form__last-name {
              display: flex;
              flex-direction: column;
              width: 50%;
              margin-left: 4em;
            }
          }

          // Reservation Section Content Grid Container Email Address Styles
          &__email-address-phone {
            display: flex;
            align-items: center;
            margin-bottom: 3em;

            .reservation-section__content__grid__form__email-address {
              display: flex;
              flex-direction: column;
              width: 50%;
            }

            .reservation-section__content__grid__form__phone {
              display: flex;
              flex-direction: column;
              width: 50%;
              margin-left: 4em;
            }
          }

          // Reservation Section Content Grid Container Date Time, Number Styles
          &__date-time-number {
            display: flex;
            align-items: center;
            margin-bottom: 3em;

            .reservation-section__content__grid__form__date {
              display: flex;
              flex-direction: column;
              width: 30%;
            }

            .reservation-section__content__grid__form__time {
              display: flex;
              flex-direction: column;
              width: 30%;
              margin-left: 4em;
            }

            .reservation-section__content__grid__form__number {
              display: flex;
              flex-direction: column;
              width: 30%;
              margin-left: 4em;
            }
          }

          // Reservation Section Content Grid Container Notes Styles
          &__note {
            display: flex;
            flex-direction: column;
            height: 150px;
            margin-bottom: 3em;

            textarea {
              width: 100%;
              height: inherit;
              resize: none;
            }
          }

          // Reservation Section Content Grid Container Submit Button Styles
          &__submit-button {
            color: $color-white;
            background-color: $color-dark;
            padding: 0.6rem 1.2rem;
            border: 1px solid $color-white;
            border-radius: 50px;
            transition: all 0.3s ease-in-out;
            margin-bottom: 3em;
            outline: none;
            cursor: pointer;

            &:hover {
              color: $color-dark;
              background-color: $color-white;
            }
          }

          // Reservation Section Content Grid Container Notice Styles
          &__notice {
            line-height: 1.5rem;

            span {
              font-weight: bold;
              cursor: pointer;
            }
          }
        }
      }

      // Reservation Section Content Grid Image Styles
      &__image {
        width: 50%;
        height: 800px;
        position: absolute;

        div {
          height: inherit;
        }
      }
    }
  }
}

/**** Contact Section Styles ****/

#contact-section {
  // height: 1200px;
  padding: 10em 0;
  color: $color-white;
  background-color: $color-dark;

  // Contact Section Content Styles
  .contact-section__content {
    padding-top: 7em;

    // Contact Section Content Title Styles
    &__title {
      text-align: center;
      font-family: "Playfair Display", sans-serif;
      font-size: 3.5rem;
      word-break: break-word;
      margin: 0 0.3rem 2em 0;
    }

    // Contact Section Content Grid Styles
    &__grid {
      display: flex;
      align-items: center;
      width: 100%;
      height: 800px;
      position: relative;

      // Contact Section Content Grid Image Styles
      &__image {
        width: 50%;
        height: 800px;
        position: absolute;
        right: 0;

        div {
          height: inherit;
        }
      }

      // Contact Section Content Grid Container Styles
      &__form-container {
        width: 50%;
        position: absolute;
        left: 0;
        margin-left: 10em;
        z-index: 10;
        background-color: $color-dark;
        border-radius: 10px;

        .contact-section__content__grid__form {
          padding: 5em 2em;

          // Global Label Styles
          label {
            margin-bottom: 1em;
          }

          // Global Input, Textarea Styles
          input,
          textarea,
          select {
            background-color: transparent;
            border: none;
            border-bottom: 1px solid $color-white;
            outline: none;
            transition: all 0.4s ease-in-out;

            &:focus {
              background-color: $color-white;
            }

            &:active {
              background-color: $color-white;
            }
          }

          // Contact Section Content Grid Container First and Last Name Styles
          &__first-last-name {
            display: flex;
            align-items: center;
            margin-bottom: 3em;

            .contact-section__content__grid__form__first-name {
              display: flex;
              flex-direction: column;
              width: 50%;
            }

            .contact-section__content__grid__form__last-name {
              display: flex;
              flex-direction: column;
              width: 50%;
              margin-left: 4em;
            }
          }

          // Contact Section Content Grid Container Email Address Styles
          &__email-address {
            display: flex;
            flex-direction: column;
            margin-bottom: 3em;
          }

          // Contact Section Content Grid Container Notes Styles
          &__note {
            display: flex;
            flex-direction: column;
            height: 150px;
            margin-bottom: 3em;

            textarea {
              width: 100%;
              height: inherit;
              resize: none;
            }
          }

          // Contact Section Content Grid Container Submit Button Styles
          &__submit-button {
            color: $color-white;
            background-color: $color-dark;
            padding: 0.6rem 1.2rem;
            border: 1px solid $color-white;
            border-radius: 50px;
            transition: all 0.3s ease-in-out;
            margin-bottom: 3em;
            outline: none;
            cursor: pointer;

            &:hover {
              color: $color-dark;
              background-color: $color-white;
            }
          }

          // Contact Section Content Grid Container Notice Styles
          &__notice {
            line-height: 1.5rem;

            span {
              font-weight: bold;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}

/**** Footer Section Styles ****/

#footer-section {
  color: $color-white;
  background-color: $color-dark;
  padding: 5em 0;

  .footer-section__content {
    padding-top: 4em;
    border-top: 1px solid $color-white;

    &__grid {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 3em;

      .footer-section__logo {
        display: block;
        font-size: 2.8rem;
      }

      .footer-section__about-us-links {
        display: flex;
        flex-direction: column;

        &__title {
          font-size: 1.5rem;
          margin-bottom: 1em;
        }

        .footer-section__about-us-links__menu {
          margin-bottom: 1em;
        }
      }

      .footer-section__reservation-link {
        &__title {
          font-size: 1.5rem;
          margin-bottom: 1em;
        }
      }

      .footer-section__contact-us {
        &__title {
          font-size: 1.5rem;
          margin-bottom: 1em;
        }

        &__phone-email-address {
          span {
            display: block;

            &:not(:last-child) {
              margin-bottom: 1em;
            }
          }
        }
      }
    }

    &__copyright {
      text-align: center;
    }
  }
}
