@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700;800&family=Roboto:wght@300;400;500;700;900&display=swap");

// SASS Colors Variables

$color-dark: #000103;
$color-white: #fff;
$color-india-green: #008900;
$color-grey: #32303b;
$color-independence: #4c4b63;
$color-spanish-gray: #949396;
$color-body: #d1d1d1;
$color-mobile-menu: #1c1c1c;

// Global Styles

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Roboto", "Playfair Display", sans-serif, serif;
  font-size: 0.9em;
  background-color: $color-white;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

input,
textarea,
select {
  font-family: "Roboto", sans-serif;
  padding: 0.6em 0.2em;
  outline: none;

  &::-moz-focus-inner {
    outline: none;
  }
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.centered {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
}

.container {
  width: 65%;
  max-width: 1400px;
  margin: 0 auto;
}

/**** Screen Loader Styles ****/

#screen-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: $color-dark;
  position: fixed;
  z-index: 100;

  .screen-loader__container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: red;

    &__circle__1 {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100px;
      height: 100px;
      margin: 0 auto;
      border-top: 1px solid $color-white;
      border-right: 1px solid $color-white;
      border-radius: 50%;
      animation: firstCircle 1s linear infinite forwards;
      position: absolute;
    }

    &__circle__2 {
      width: 80px;
      height: 80px;
      margin: 0 auto;
      border-left: 1px solid $color-white;
      border-bottom: 1px solid $color-white;
      border-radius: 50%;
      animation: secondCircle 1s linear infinite forwards;
      position: absolute;
    }
  }
}

// // Whole Content Styles
#whole-content {
  visibility: hidden;
  opacity: 0;
}

// Screen Loader Circle Animations

@keyframes firstCircle {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes secondCircle {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(-360deg);
  }
}

/**** Header Section Styles ****/

#header-section {
  background-color: $color-dark;

  // Navbar Styles

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0;

    &__logo {
      width: 50%;

      .logo {
        color: $color-white;
        font-size: 2rem;
        font-weight: 500;
      }
    }

    &__links {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 50%;

      .navbar__link {
        color: $color-white;
        font-weight: 300;
        transition: color 0.3s ease-in-out;

        &--reservation {
          color: $color-white;
          background-color: $color-dark;
          padding: 0.6rem 1.2rem;
          border: 1px solid $color-white;
          border-radius: 50px;
          transition: all 0.3s ease-in-out;

          &:hover {
            color: $color-dark;
            background-color: $color-white;
          }
        }
      }
    }

    // Hamburger
    &__hamburger {
      display: none;
      align-self: flex-start;
      background-color: $color-dark;
      width: 40px;
      height: 20px;
      cursor: pointer;

      span {
        display: block;
        width: inherit;
        height: 3px;
        border-radius: 2px;
        background-color: $color-white;

        &:not(:last-child) {
          margin-bottom: 0.4rem;
        }
      }
    }
  }
}

/**** Mobile Menu Section Styles ****/

#mobile-menu {
  display: none;
  padding: 1.5rem 0;
  width: 50%;
  height: 100vh;
  background-color: $color-dark;
  border: 1px solid $color-grey;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  position: absolute;
  right: 0;
  z-index: 10;

  // Navbar Styles

  .navbar__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 50%;

    li {
      &:not(:last-child) {
        margin-bottom: 1.6rem;
      }
    }

    .navbar__link {
      color: $color-white;
      font-weight: 300;
      transition: color 0.3s ease-in-out;

      &--reservation {
        color: $color-white;
        background-color: $color-dark;
        padding: 0.6rem 1.2rem;
        border: 1px solid $color-white;
        border-radius: 50px;
        transition: all 0.3s ease-in-out;

        &:hover {
          color: $color-dark;
          background-color: $color-white;
        }
      }
    }
  }
}

/**** Jumbo Section Styles ****/

#jumbo-section {
  padding: 10em 0;
  background: $color-dark;

  .jumbo-hero__text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $color-white;
    position: relative;
    top: 100px;

    // Jumbo Message Container

    .jumbo-hero__message-container {
      display: block;
      width: 50%;

      .jumbo-hero__title {
        font-family: "Playfair Display", sans-serif;
        font-size: 3.5rem;
        font-weight: 600;
        word-break: break-word;
        line-height: 1.5em;
        margin-bottom: 0.5em;
      }

      .jumbo-hero__message {
        font-size: 1rem;
        font-weight: 300;
        word-break: break-word;
        margin-bottom: 3em;
      }

      .jumbo-hero__text-btn {
        color: $color-white;
        background-color: $color-dark;
        padding: 0.6rem 1.2rem;
        border: 1px solid $color-white;
        border-radius: 50px;
        transition: all 0.3s ease-in-out;
        outline: none;

        &:hover {
          color: $color-dark;
          background-color: $color-white;
        }
      }
    }

    // Jumbo Image

    .jumbo-hero__img {
      width: 50%;

      div {
        height: 600px;
        width: 100%;

        div {
          img {
            object-fit: contain;
          }
        }
      }
    }
  }
}

/**** About Section Styles ****/

#about-section {
  padding: 10em 0;
  color: $color-white;
  background-color: $color-dark;

  .about-section__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    // About Image Styles

    .about-section__img {
      width: 50%;
      height: 500px;
      position: absolute;
      left: 0;
    }

    // About Text Styles

    .about-section__text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 50%;
      margin-right: 10em;
      border-radius: 10px;
      position: absolute;
      right: 0;
      height: 400px;
      background-color: $color-dark;

      .about-section__text-title {
        font-family: "Playfair Display", sans-serif;
        font-size: 3.5rem;
        word-break: break-word;
        margin: 0 0 0.8em 4rem;
      }

      .about-section__text-info {
        margin-left: 4em;
        line-height: 1.6rem;
      }
    }
  }
}

/**** Ingredient Section Styles ****/

#ingredient-section {
  display: flex;
  align-items: center;
  color: $color-white;
  background-color: $color-dark;
  height: 800px;

  .ingredient-section__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    // Ingredient Text

    .ingredient-section__text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 50%;
      border-radius: 10px;
      position: absolute;
      left: 0;
      height: 400px;
      margin-left: 10em;
      background-color: $color-dark;
      z-index: 10;

      .ingredient-section__title {
        font-family: "Playfair Display", sans-serif;
        font-size: 3.5rem;
        word-break: break-word;
        margin: 0 0.3rem 0.8em 0;
      }

      .ingredient-section__info {
        line-height: 1.6rem;
      }
    }

    // Ingredient Image

    .ingredient-section__img-container {
      width: 50%;
      position: absolute;
      right: 0;

      .ingredient-section__image {
        height: 500px;
      }
    }
  }
}

/**** Menu Section Styles ****/

#menu-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $color-white;
  background-color: $color-dark;
  height: 800px;

  // Menu Content Styles
  .menu-section__content {
    margin-top: 6em;

    // Menu Title Styles
    .menu-section__title {
      text-align: center;
      font-family: "Playfair Display", sans-serif;
      font-size: 3.5rem;
      word-break: break-word;
      margin: 0 0.3rem 0.8em 0;
    }

    // Menu Filter Styles
    .menu-section__filter {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 25%;
      margin-bottom: 5em;

      &--breakfast {
        color: $color-white;
        background-color: $color-dark;
        padding: 0.6rem 1.2rem;
        border: 1px solid $color-white;
        border-radius: 50px;
        transition: all 0.3s ease-in-out;
        outline: none;
        cursor: pointer;
        transition: color, background-color, 0.4s ease-in-out;

        &.active {
          color: $color-dark;
          background-color: $color-white;
        }

        &:hover {
          color: $color-dark;
          background-color: $color-white;
        }
      }

      &--lunch {
        color: $color-white;
        background-color: $color-dark;
        padding: 0.6rem 1.2rem;
        border: 1px solid $color-white;
        border-radius: 50px;
        transition: all 0.3s ease-in-out;
        outline: none;
        cursor: pointer;
        transition: color, background-color, 0.4s ease-in-out;

        &.active {
          color: $color-dark;
          background-color: $color-white;
        }

        &:hover {
          color: $color-dark;
          background-color: $color-white;
        }
      }

      &--dinner {
        color: $color-white;
        background-color: $color-dark;
        padding: 0.6rem 1.2rem;
        border: 1px solid $color-white;
        border-radius: 50px;
        transition: all 0.3s ease-in-out;
        outline: none;
        cursor: pointer;
        transition: color, background-color, 0.4s ease-in-out;

        &.active {
          color: $color-dark;
          background-color: $color-white;
        }

        &:hover {
          color: $color-dark;
          background-color: $color-white;
        }
      }
    }

    // Menu Grid Container Styles
    .menu-section__menu-grid {
      position: relative;

      // Menu Breakfast Styles
      &__breakfast {
        display: flex;
        justify-content: space-between;
        position: absolute;

        .menu-section__menu-grid__item {
          color: $color-dark;
          background-color: $color-white;
          text-align: center;
          width: 22%;
          padding: 2em;
          border-radius: 10px;

          &__image {
            div {
              height: 200px;
              width: 200px;
            }
          }

          &__title {
            font-size: 1.5rem;
            margin: 1em 0;
          }

          &__info {
            line-height: 1.5rem;
          }
        }
        .menu-section__menu-grid__item--breakfast {
          z-index: 30;
          opacity: 1;
        }
      }

      // Menu Lunch Styles
      &__lunch {
        display: flex;
        justify-content: space-between;
        position: absolute;

        .menu-section__menu-grid__item {
          color: $color-dark;
          background-color: $color-white;
          text-align: center;
          width: 22%;
          padding: 2em;
          border-radius: 10px;

          &__image {
            div {
              height: 200px;
              width: 200px;
            }
          }

          &__title {
            font-size: 1.5rem;
            margin: 1em 0;
          }

          &__info {
            line-height: 1.5rem;
          }
        }

        .menu-section__menu-grid__item--lunch {
          z-index: 20;
          opacity: 0;
        }
      }

      // Menu Dinner Styles
      &__dinner {
        display: flex;
        justify-content: space-between;
        position: absolute;

        .menu-section__menu-grid__item {
          color: $color-dark;
          background-color: $color-white;
          text-align: center;
          width: 22%;
          padding: 2em;
          border-radius: 10px;

          &__image {
            div {
              height: 200px;
              width: 200px;
            }
          }

          &__title {
            font-size: 1.5rem;
            margin: 1em 0;
          }

          &__info {
            line-height: 1.5rem;
          }
        }

        .menu-section__menu-grid__item--dinner {
          z-index: 10;
          opacity: 0;
        }
      }
    }
  }
}

/**** Review Section Styles ****/

#review-section {
  color: $color-white;
  background-color: $color-dark;
  height: 800px;

  // Review Section Content Styles
  .review-section__content {
    padding-top: 10em;

    // Review Section Content Title Styles
    &__title {
      text-align: center;
      font-family: "Playfair Display", sans-serif;
      font-size: 3.5rem;
      word-break: break-word;
      margin: 0 0.3rem 2em 0;
    }

    // Review Section Content Grid Styles
    &__grid {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      // Review Section Content Container Styles
      &__container {
        width: 60%;
        height: 300px;
        color: $color-dark;
        background-color: $color-white;
        border-radius: 10px;
        white-space: nowrap;
        overflow: hidden;

        .review-section__content__grid__item {
          display: inline-block;
          text-align: center;
          width: 100%;
          height: inherit;
          border-radius: 10px;
          padding: 1.5em;
          white-space: normal;
          transition: all 0.3s ease-in-out;

          &__image {
            width: 100px;
            height: 100px;
            margin: 0 auto;

            img {
              border-radius: 50%;
            }
          }

          &__name {
            font-size: 1.5rem;
            margin: 1em 0;
          }

          &__comment {
            line-height: 1.5rem;
            margin-bottom: 1em;
          }

          &__star {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 10%;
            margin: 0 auto;

            &__icon-container {
              width: 12px;
              height: 12px;
            }
          }
        }

        // Alice Carousel

        .alice-carousel {
          position: static;

          div {
            margin-top: 6px;
          }
        }

        // Preview and next buttons from Alice Carousel

        // Preview button
        .alice-carousel__prev-btn {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          width: 10%;
          position: absolute;
          top: 40%;
          left: 0;

          .alice-carousel__prev-btn-item {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 45px;
            height: 45px;
            border: 1px solid $color-white;
            border-radius: 50%;
            transition: all 0.3s ease-in-out;
            outline: none;
            cursor: pointer;

            span {
              color: $color-white;
              font-size: 3em;
              transition: color 0.4s ease-in-out;
            }

            &:hover {
              color: $color-dark;
              border: 1px solid $color-dark;
              background-color: $color-white;

              span {
                color: $color-dark;
              }
            }
          }
        }

        // Next Button
        .alice-carousel__next-btn {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          width: 10%;
          position: absolute;
          top: 40%;
          right: 0;

          .alice-carousel__next-btn-item {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 45px;
            height: 45px;
            border: 1px solid $color-white;
            border-radius: 50%;
            transition: all 0.3s ease-in-out;
            outline: none;
            cursor: pointer;

            span {
              color: $color-white;
              font-size: 3em;
              transition: color 0.4s ease-in-out;
            }

            &:hover {
              color: $color-dark;
              border: 1px solid $color-dark;
              background-color: $color-white;

              span {
                color: $color-dark;
              }
            }
          }
        }
      }
    }
  }
}

/**** Reservation Section Styles ****/

#reservation-section {
  height: 1200px;
  color: $color-white;
  background-color: $color-dark;

  // Reservation Section Content Styles
  .reservation-section__content {
    padding-top: 7em;

    // Reservation Section Content Title Styles
    &__title {
      text-align: center;
      font-family: "Playfair Display", sans-serif;
      font-size: 3.5rem;
      word-break: break-word;
      margin: 0 0.3rem 2em 0;
    }

    // Reservation Section Content Grid Styles
    &__grid {
      display: flex;
      align-items: center;
      width: 100%;
      height: 800px;
      position: relative;

      // Reservation Section Content Grid Container Styles
      &__form-container {
        width: 50%;
        position: absolute;
        right: 0;
        margin-right: 10em;
        z-index: 10;
        background-color: $color-dark;
        border-radius: 10px;

        .reservation-section__content__grid__form {
          padding: 5em 2em;

          // Global Label Styles
          label {
            margin-bottom: 1em;
          }

          // Global Input, Textarea Styles
          input,
          textarea,
          select {
            background-color: transparent;
            border: none;
            border-bottom: 1px solid $color-grey;
            outline: none;
            transition: border-bottom 0.4s ease-in-out;

            &:focus {
              color: $color-white;
              border-bottom: 1px solid $color-white;
            }
          }

          // Reservation Section Content Grid Container First and Last Name Styles
          &__first-last-name {
            display: flex;
            align-items: center;
            margin-bottom: 3em;

            .reservation-section__content__grid__form__first-name {
              display: flex;
              flex-direction: column;
              width: 50%;
            }

            .reservation-section__content__grid__form__last-name {
              display: flex;
              flex-direction: column;
              width: 50%;
              margin-left: 4em;
            }
          }

          // Reservation Section Content Grid Container Email Address Styles
          &__email-address-phone {
            display: flex;
            align-items: center;
            margin-bottom: 3em;

            .reservation-section__content__grid__form__email-address {
              display: flex;
              flex-direction: column;
              width: 50%;
            }

            .reservation-section__content__grid__form__phone {
              display: flex;
              flex-direction: column;
              width: 50%;
              margin-left: 4em;
            }
          }

          // Reservation Section Content Grid Container Date Time, Number Styles
          &__date-time-number {
            display: flex;
            align-items: center;
            margin-bottom: 3em;

            .reservation-section__content__grid__form__date {
              display: flex;
              flex-direction: column;
              width: 30%;
            }

            .reservation-section__content__grid__form__time {
              display: flex;
              flex-direction: column;
              width: 30%;
              margin-left: 4em;
            }

            .reservation-section__content__grid__form__number {
              display: flex;
              flex-direction: column;
              width: 30%;
              margin-left: 4em;
            }
          }

          // Reservation Section Content Grid Container Notes Styles
          &__note {
            display: flex;
            flex-direction: column;
            height: 150px;
            margin-bottom: 3em;

            textarea {
              width: 100%;
              height: inherit;
              resize: none;
            }
          }

          // Reservation Section Content Grid Container Submit Button Styles
          &__submit-button {
            color: $color-white;
            background-color: $color-dark;
            padding: 0.6rem 1.2rem;
            border: 1px solid $color-white;
            border-radius: 50px;
            transition: all 0.3s ease-in-out;
            margin-bottom: 3em;
            outline: none;
            cursor: pointer;

            &:hover {
              color: $color-dark;
              background-color: $color-white;
            }
          }

          // Reservation Section Content Grid Container Notice Styles
          &__notice {
            line-height: 1.5rem;

            span {
              font-weight: bold;
              cursor: pointer;
            }
          }
        }
      }

      // Reservation Section Content Grid Image Styles
      &__image {
        width: 50%;
        height: 800px;
        position: absolute;

        div {
          height: inherit;
        }
      }
    }
  }
}

/**** Contact Section Styles ****/

#contact-section {
  padding: 10em 0;
  color: $color-white;
  background-color: $color-dark;

  // Contact Section Content Styles
  .contact-section__content {
    // Contact Section Content Title Styles
    &__title {
      text-align: center;
      font-family: "Playfair Display", sans-serif;
      font-size: 3.5rem;
      word-break: break-word;
      margin: 0 0.3rem 2em 0;
    }

    // Contact Section Content Grid Styles
    &__grid {
      display: flex;
      align-items: center;
      width: 100%;
      height: 800px;
      position: relative;

      // Contact Section Content Grid Image Styles
      &__image {
        width: 50%;
        height: 800px;
        position: absolute;
        right: 0;

        div {
          height: inherit;
        }
      }

      // Contact Section Content Grid Container Styles
      &__form-container {
        width: 50%;
        position: absolute;
        left: 0;
        margin-left: 10em;
        z-index: 10;
        background-color: $color-dark;
        border-radius: 10px;

        .contact-section__content__grid__form {
          padding: 5em 2em;

          // Global Label Styles
          label {
            margin-bottom: 1em;
          }

          // Global Input, Textarea Styles
          input,
          textarea,
          select {
            background-color: transparent;
            border: none;
            border-bottom: 1px solid $color-grey;
            outline: none;
            transition: border-bottom 0.4s ease-in-out;

            &:focus {
              color: $color-white;
              border-bottom: 1px solid $color-white;
            }
          }

          // Contact Section Content Grid Container First and Last Name Styles
          &__first-last-name {
            display: flex;
            align-items: center;
            margin-bottom: 3em;

            .contact-section__content__grid__form__first-name {
              display: flex;
              flex-direction: column;
              width: 50%;
            }

            .contact-section__content__grid__form__last-name {
              display: flex;
              flex-direction: column;
              width: 50%;
              margin-left: 4em;
            }
          }

          // Contact Section Content Grid Container Email Address Styles
          &__email-address {
            display: flex;
            flex-direction: column;
            margin-bottom: 3em;
          }

          // Contact Section Content Grid Container Notes Styles
          &__note {
            display: flex;
            flex-direction: column;
            height: 150px;
            margin-bottom: 3em;

            textarea {
              width: 100%;
              height: inherit;
              resize: none;
            }
          }

          // Contact Section Content Grid Container Submit Button Styles
          &__submit-button {
            color: $color-white;
            background-color: $color-dark;
            padding: 0.6rem 1.2rem;
            border: 1px solid $color-white;
            border-radius: 50px;
            transition: all 0.3s ease-in-out;
            margin-bottom: 3em;
            outline: none;
            cursor: pointer;

            &:hover {
              color: $color-dark;
              background-color: $color-white;
            }
          }

          // Contact Section Content Grid Container Notice Styles
          &__notice {
            line-height: 1.5rem;

            span {
              font-weight: bold;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}

/**** Footer Section Styles ****/

#footer-section {
  color: $color-white;
  background-color: $color-dark;
  padding: 5em 0;

  .footer-section__content {
    padding-top: 4em;
    border-top: 1px solid $color-white;

    &__grid {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 3em;

      .footer-section__logo {
        display: block;
        font-size: 2.8rem;
      }

      .footer-section__about-us-links {
        display: flex;
        flex-direction: column;

        &__title {
          font-size: 1.5rem;
          margin-bottom: 1em;
        }

        &__menu {
          margin-bottom: 1em;
        }
      }

      .footer-section__reservation-link {
        &__title {
          font-size: 1.5rem;
          margin-bottom: 1em;
        }
      }

      .footer-section__contact-us {
        &__title {
          font-size: 1.5rem;
          margin-bottom: 1em;
        }

        &__phone-email-address {
          span {
            display: block;

            &:not(:last-child) {
              margin-bottom: 1em;
            }
          }
        }
      }
    }

    &__copyright {
      text-align: center;
    }
  }
}

/***** Media Queries ********/

// Laptop
@media only screen and (min-width: 1280px) and (max-width: 1440px) {
  // Global Container
  .container {
    width: 90%;
  }

  /**** Header Section Styles ****/
  #header-section {
    margin-bottom: -10px;
  }

  /**** Jumbo Section Styles ****/
  #jumbo-section {
    padding: 5em 0;
    margin-bottom: -10px;

    // Jumbo Section Text
    .jumbo-hero__text {
      gap: 20px;
      // Jumbo Section Message Container
      .jumbo-hero__message-container {
        width: 50%;
      }

      // Jumbo Section Img
      .jumbo-hero__img {
        width: 50%;

        div {
          height: 490px;
          width: 100%;

          div {
            img {
              object-fit: contain;
            }
          }
        }
      }
    }
  }

  /**** About Section Styles ****/
  #about-section {
    margin-bottom: -10px;
  }

  /**** Ingredient Section Styles ****/
  #ingredient-section {
    margin-bottom: -10px;
  }

  /**** Menu Section Styles ****/
  #menu-section {
    margin-bottom: -10px;

    // Menu Section Content
    .menu-section__content {
      // Menu Section Filter
      .menu-section__filter {
        width: 30%;
      }

      // Menu Section Grid
      .menu-section__menu-grid {
        width: 100%;

        // Breakfast Menu
        .menu-section__menu-grid__breakfast {
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          width: 100%;
          gap: 30px;

          .menu-section__menu-grid__item {
            width: 100%;
          }

          .menu-section__menu-grid__item__image {
            display: flex;
            justify-content: center;
          }
        }

        // Lunch Menu
        .menu-section__menu-grid__lunch {
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          width: 100%;
          gap: 30px;

          .menu-section__menu-grid__item {
            width: 100%;
          }

          .menu-section__menu-grid__item__image {
            display: flex;
            justify-content: center;
          }
        }

        // Dinner Menu
        .menu-section__menu-grid__dinner {
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          width: 100%;
          gap: 30px;

          .menu-section__menu-grid__item {
            width: 100%;
          }

          .menu-section__menu-grid__item__image {
            display: flex;
            justify-content: center;
          }
        }
      }
    }
  }

  /**** Reservation Section Styles ****/
  #reservation-section {
    margin-bottom: -10px;
  }

  /**** Contact Section Styles ****/
  #contact-section {
    margin-bottom: -10px;
  }

  /**** Review Section Styles ****/
  #review-section {
    margin-bottom: -10px;
  }
}

// iPad Pro
@media only screen and (min-width: 900px) and (max-width: 1024px) {
  // Global Container
  .container {
    width: 90%;
  }

  /**** Header Section Styles ****/
  #header-section {
    margin-bottom: -10px;
  }

  /**** Jumbo Section Styles ****/
  #jumbo-section {
    // Jumbo Section Text
    .jumbo-hero__text {
      gap: 30px;

      // Jumbo Section Message Container
      .jumbo-hero__message-container {
        width: 50%;
      }

      // Jumbo Section Img
      .jumbo-hero__img {
        width: 50%;

        div {
          height: 500px;
          width: 100%;

          div {
            img {
              object-fit: contain;
            }
          }
        }
      }
    }
  }

  /**** About Section Styles ****/
  #about-section {
    // About Section Content
    .about-section__content {
      // About Section Img
      .about-section__img {
        width: 60%;
      }
    }
  }

  /**** Ingredient Section Styles ****/
  #ingredient-section {
    // Ingredient Section Content
    .ingredient-section__content {
      // Ingredient Section Text
      .ingredient-section__text {
        height: 460px;
      }

      // Ingredient Section Img
      .ingredient-section__img-container {
        width: 60%;
      }
    }
  }

  /**** Menu Section Styles ****/
  #menu-section {
    height: 1100px;

    // Menu Section Content
    .menu-section__content {
      // Menu Section Filter
      .menu-section__filter {
        width: 35%;
      }

      // Menu Section Grid
      .menu-section__menu-grid {
        width: 100%;

        // Breakfast Menu
        .menu-section__menu-grid__breakfast {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          width: 100%;
          gap: 30px;

          .menu-section__menu-grid__item {
            width: 100%;
          }

          .menu-section__menu-grid__item__image {
            display: flex;
            justify-content: center;
          }
        }

        // Lunch Menu
        .menu-section__menu-grid__lunch {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          width: 100%;
          gap: 20px;

          .menu-section__menu-grid__item {
            width: 100%;
          }

          .menu-section__menu-grid__item__image {
            display: flex;
            justify-content: center;
          }
        }

        // Dinner Menu
        .menu-section__menu-grid__dinner {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          width: 100%;
          gap: 20px;

          .menu-section__menu-grid__item {
            width: 100%;
          }

          .menu-section__menu-grid__item__image {
            display: flex;
            justify-content: center;
          }
        }
      }
    }
  }

  /**** Review Section Styles ****/
  #review-section {
    // Review Section Content
    .review-section__content {
      // Review Section Grid
      .review-section__content__grid {
        .review-section__content__grid__container {
          width: 70%;
          height: 340px;
        }
      }
    }
  }

  /**** Reservation Section Styles ****/
  #reservation-section {
    // Reservation Section Content
    .reservation-section__content {
      // Reservation Section Content Grid
      .reservation-section__content__grid {
        width: 100%;

        // Reservation Section Content Grid Img
        .reservation-section__content__grid__image {
          width: 60%;
        }

        // Reservation Section Content Grid Form Container
        .reservation-section__content__grid__form-container {
          width: 50%;
          margin-right: 8em;
        }
      }
    }
  }

  /**** Contact Section Styles ****/
  #contact-section {
    .contact-section__content {
      .contact-section__content__grid {
        .contact-section__content__grid__form-container {
          width: 50%;
          margin-left: 8em;
        }

        // Contact Section Content Grid Img
        .contact-section__content__grid__image {
          width: 60%;
        }
      }
    }
  }
}

// iPad and Tablet
@media only screen and (max-width: 900px) {
  // Global Container
  .container {
    width: 90%;
  }

  /**** Header Section Styles ****/
  #header-section {
    margin-bottom: -10px;

    // Header Section Navbar
    .navbar {
      // Header Logo
      .navbar__logo {
        width: 20%;
      }

      .navbar__links {
        width: 65%;
      }
    }
  }

  /**** Jumbo Section Styles ****/
  #jumbo-section {
    margin-bottom: -10px;

    // Jumbo Section Text
    .jumbo-hero__text {
      gap: 20px;
      // Jumbo Section Message Container
      .jumbo-hero__message-container {
        width: 50%;
      }

      // Jumbo Section Img
      .jumbo-hero__img {
        width: 50%;

        div {
          height: 400px;
          width: 100%;

          div {
            img {
              object-fit: contain;
            }
          }
        }
      }
    }
  }

  /**** About Section Styles ****/
  #about-section {
    // About Section Content
    .about-section__content {
      // About Section Img
      .about-section__img {
        width: 60%;
      }
    }
  }

  /**** Ingredient Section Styles ****/
  #ingredient-section {
    // Ingredient Section Content
    .ingredient-section__content {
      // Ingredient Section Text
      .ingredient-section__text {
        height: 460px;
      }

      // Ingredient Section Img
      .ingredient-section__img-container {
        width: 60%;
      }
    }
  }

  /**** Menu Section Styles ****/
  #menu-section {
    height: 1100px;

    // Menu Section Content
    .menu-section__content {
      // Menu Section Filter
      .menu-section__filter {
        width: 40%;
      }

      // Menu Section Grid
      .menu-section__menu-grid {
        width: 100%;

        // Breakfast Menu
        .menu-section__menu-grid__breakfast {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          width: 100%;
          gap: 30px;

          .menu-section__menu-grid__item {
            width: 100%;
          }

          .menu-section__menu-grid__item__image {
            display: flex;
            justify-content: center;
          }
        }

        // Lunch Menu
        .menu-section__menu-grid__lunch {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          width: 100%;
          gap: 20px;

          .menu-section__menu-grid__item {
            width: 100%;
          }

          .menu-section__menu-grid__item__image {
            display: flex;
            justify-content: center;
          }
        }

        // Dinner Menu
        .menu-section__menu-grid__dinner {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          width: 100%;
          gap: 20px;

          .menu-section__menu-grid__item {
            width: 100%;
          }

          .menu-section__menu-grid__item__image {
            display: flex;
            justify-content: center;
          }
        }
      }
    }
  }

  /**** Review Section Styles ****/
  #review-section {
    // Review Section Content
    .review-section__content {
      // Review Section Grid
      .review-section__content__grid {
        .review-section__content__grid__container {
          width: 70%;
          height: 340px;
        }
      }
    }
  }

  /**** Reservation Section Styles ****/
  #reservation-section {
    // Reservation Section Content
    .reservation-section__content {
      // Reservation Section Content Grid
      .reservation-section__content__grid {
        width: 100%;

        // Reservation Section Content Grid Img
        .reservation-section__content__grid__image {
          width: 60%;
        }

        // Reservation Section Content Grid Form Container
        .reservation-section__content__grid__form-container {
          width: 50%;
          margin-right: 8em;

          // Reservation Section Content Grid Form
          .reservation-section__content__grid__form {
            // Reservation Section Content Grid Form Date Time Number
            .reservation-section__content__grid__form__date-time-number {
              .reservation-section__content__grid__form__date {
                width: 33%;

                input {
                  width: 100%;
                }
              }

              .reservation-section__content__grid__form__time {
                width: 33%;
                margin-left: 2em;

                input {
                  width: 100%;
                }
              }

              .reservation-section__content__grid__form__number {
                width: 33%;
                margin-left: 2em;

                input {
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
  }

  /**** Contact Section Styles ****/
  #contact-section {
    .contact-section__content {
      .contact-section__content__grid {
        .contact-section__content__grid__form-container {
          width: 50%;
          margin-left: 8em;
        }

        // Contact Section Content Grid Img
        .contact-section__content__grid__image {
          width: 60%;
        }
      }
    }
  }
}

// Phone
@media only screen and (max-width: 600px) {
  // Global Container
  .container {
    width: 90%;
  }

  /**** Header Section Styles ****/
  #header-section {
    // Header Section Navbar
    .navbar {
      .navbar__links {
        display: none;
      }

      .navbar__hamburger {
        display: block;
      }
    }
  }

  // Header Section Mobile Menu
  #mobile-menu {
    display: none;

    &.active {
      display: block;
    }
  }

  /**** Jumbo Section Styles ****/
  #jumbo-section {
    padding: 6em 0;
    // Jumbo Section Text
    .jumbo-hero__text {
      flex-direction: column;
      gap: 50px;

      // Jumbo Section Message Container
      .jumbo-hero__message-container {
        width: 100%;
        order: 2;

        // Jumbo Section Title
        .jumbo-hero__title {
          font-size: 3.3rem;
        }
      }

      // Jumbo Section Img
      .jumbo-hero__img {
        width: 100%;
        order: 1;
        margin-top: -100px;

        div {
          height: 400px;

          div {
            img {
              object-fit: contain;
            }
          }
        }
      }
    }
  }

  /**** About Us Section Styles ****/
  #about-section {
    // About Us Section Content
    .about-section__content {
      flex-direction: column;
      gap: 90px;

      // About Us Section Img
      .about-section__img {
        width: 100%;
      }

      // About Us Section Text
      .about-section__text {
        width: 100%;
        margin-right: 0;
        top: 40%;

        // About Us Section Title
        .about-section__text-title {
          font-size: 3.3rem;
          margin-left: 0;
        }

        // About Us Section Info
        .about-section__text-info {
          margin-left: 0;
        }
      }
    }
  }

  /**** Ingredient Section Styles ****/
  #ingredient-section {
    padding-bottom: 2rem;

    // Ingredient Section Content
    .ingredient-section__content {
      flex-direction: column;
      gap: 90px;

      // Ingredient Section Text
      .ingredient-section__text {
        width: 100%;
        margin-left: 0;
        top: 40%;

        // Ingredient Section Title
        .ingredient-section__title {
          font-size: 3.3rem;
        }
      }

      // Ingredient Section Img
      .ingredient-section__img-container {
        width: 100%;
        position: static;
      }
    }
  }

  /**** Menu Section Styles ****/
  #menu-section {
    height: 1880px;

    // Menu Section Content
    .menu-section__content {
      .menu-section__title {
        font-size: 3.3rem;
      }

      // Menu Section Filter
      .menu-section__filter {
        justify-content: space-around;
        width: 90%;
        margin: 0 auto 5em auto;
      }

      // Menu Section Grid
      .menu-section__menu-grid {
        width: 100%;

        // Breakfast Menu
        .menu-section__menu-grid__breakfast {
          display: grid;
          grid-template-columns: 1fr;
          width: 100%;
          gap: 20px;

          .menu-section__menu-grid__item {
            width: 100%;
          }

          .menu-section__menu-grid__item__image {
            display: flex;
            justify-content: center;
          }
        }

        // Lunch Menu
        .menu-section__menu-grid__lunch {
          display: grid;
          grid-template-columns: 1fr;
          width: 100%;
          gap: 20px;

          .menu-section__menu-grid__item {
            width: 100%;
          }

          .menu-section__menu-grid__item__image {
            display: flex;
            justify-content: center;
          }
        }

        // Dinner Menu
        .menu-section__menu-grid__dinner {
          display: grid;
          grid-template-columns: 1fr;
          width: 100%;
          gap: 20px;

          .menu-section__menu-grid__item {
            width: 100%;
          }

          .menu-section__menu-grid__item__image {
            display: flex;
            justify-content: center;
          }
        }
      }
    }
  }

  /**** Review Section Styles ****/
  #review-section {
    // Review Section Content
    .review-section__content {
      // Review Section Title
      .review-section__content__title {
        font-size: 3.3rem;
      }

      // Review Section Grid
      .review-section__content__grid {
        .review-section__content__grid__container {
          width: 100%;
          height: 360px;
        }

        .alice-carousel__prev-btn {
          left: 5%;

          .alice-carousel__prev-btn-item {
            color: $color-white;
            background-color: $color-dark;

            &:hover {
              color: $color-white;
              background-color: $color-dark;
            }
          }
        }

        .alice-carousel__next-btn {
          right: 5%;

          .alice-carousel__next-btn-item {
            color: $color-white;
            background-color: $color-dark;

            &:hover {
              color: $color-white;
              background-color: $color-dark;
            }
          }
        }
      }
    }
  }

  /**** Reservation Section Styles ****/
  #reservation-section {
    // Reservation Section Content
    .reservation-section__content {
      // Reservation Section Title
      .reservation-section__content__title {
        font-size: 3.3rem;
      }

      // Reservation Section Content Grid
      .reservation-section__content__grid {
        flex-direction: column;

        // Reservation Section Content Grid Img
        .reservation-section__content__grid__image {
          width: 100%;
        }

        // Reservation Section Content Grid Form Container
        .reservation-section__content__grid__form-container {
          width: 100%;
          margin: 16em 0 0 0;

          // Reservation Section Content Grid Form
          .reservation-section__content__grid__form {
            // Reservation Section Content Grid Form First last name
            .reservation-section__content__grid__form__first-last-name {
              .reservation-section__content__grid__form__last-name {
                margin-left: 2em;
              }
            }

            // Reservation Section Content Grid Form Email Address
            .reservation-section__content__grid__form__email-address-phone {
              .reservation-section__content__grid__form__phone {
                margin-left: 2em;
              }
            }

            // Reservation Section Content Grid Form Date Time Number
            .reservation-section__content__grid__form__date-time-number {
              .reservation-section__content__grid__form__date {
                width: 30%;

                input {
                  width: 100%;
                }
              }

              .reservation-section__content__grid__form__time {
                width: 30%;
                margin-left: 2em;

                input {
                  width: 100%;
                }
              }

              .reservation-section__content__grid__form__number {
                width: 30%;
                margin-left: 2em;

                input {
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
  }

  /**** Contact Section Styles ****/
  #contact-section {
    .contact-section__content {
      .contact-section__content__title {
        font-size: 3.3rem;
        padding-top: 2em;
      }

      .contact-section__content__grid {
        flex-direction: column;

        .contact-section__content__grid__form-container {
          width: 100%;
          margin: 16em 0 0 0;

          .contact-section__content__grid__form {
            // Contact Section Content Grid Form First last name
            .contact-section__content__grid__form__first-last-name {
              .contact-section__content__grid__form__last-name {
                margin-left: 2em;
              }
            }

            // Contact Section Content Grid Form Email Address
            .contact-section__content__grid__form__email-address {
              width: 100%;
            }
          }
        }

        // Contact Section Content Grid Img
        .contact-section__content__grid__image {
          width: 100%;
        }
      }
    }
  }

  /**** Footer Section Styles ****/
  #footer-section {
    // Footer Section Content
    .footer-section__content {
      // Footer Section Content Grid
      .footer-section__content__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;

        // Footer Section About Us Links
        .footer-section__about-us-links {
          text-align: right;
          margin-bottom: 2em;
        }

        // Footer Section Contact Us
        .footer-section__contact-us {
          text-align: right;
        }
      }
    }
  }
}
